h1 {
    border: 1px solid red;
    background-color: #D18C1D;
    padding: 10px;
}
.box {
    background-color:  #D1D631;
    width: 600px;
    height: 400px;
    border: 2px solid black;
}
.footer {
    border: 3px blue;
    background-color: #A1A1A1;
    text-align: center;
}